@import './theme/default';
@import './theme/font';

.zent-notify-container {
  z-index: 10000;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.zent-notify {
  padding-bottom: 16px;

  &-content {
    @include theme-shadow(modal);
    @include theme-color(background, stroke, 9);
    min-width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    line-height: 20px;
    max-height: 48px;
    font-size: $font-size-normal;
    border-radius: 4px;
    box-sizing: border-box;

    &:empty:before {
      content: '\200b';
    }

    &.zent-notify-content-success {
      @include theme-color(color, success, 2);
    }

    &.zent-notify-content-warn {
      @include theme-color(color, warn, 1);
    }

    &.zent-notify-content-error {
      @include theme-color(color, error, 2);
    }

    &-text {
      max-width: 434px;
      max-height: 20px;
      overflow: hidden;
      white-space: nowrap;
    }

    &-icon {
      margin-right: 16px;
      vertical-align: middle;
    }
  }
}

.notify-appear {
  animation-fill-mode: both;
  animation-play-state: paused;
}

.notify-appear.notify-appear-active {
  animation-play-state: running;
  animation-name: zent-notify-move-in, zent-notify-move-in-opacity;
  animation-duration: 0.16s;
}

.notify-exit {
  animation-fill-mode: both;
  animation-play-state: paused;

  .zent-notify-content {
    animation-fill-mode: both;
    animation-play-state: paused;
  }
}

.notify-exit.notify-exit-active {
  animation-play-state: running;
  animation-name: zent-notify-move-out, zent-notify-move-out-opacity;
  animation-duration: 0.16s;

  .zent-notify-content {
    animation-play-state: running;
    animation-name: zent-notify-content-move-out;
    animation-duration: 0.16s;
  }
}

@keyframes zent-notify-move-in {
  0% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes zent-notify-move-in-opacity {
  0% {
    opacity: 0;
    animation-timing-function: linear;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zent-notify-move-out {
  0% {
    max-height: 50px;
    animation-timing-function: ease-out;
  }

  100% {
    max-height: 0;
    padding: 0;
  }
}

@keyframes zent-notify-move-out-opacity {
  0% {
    opacity: 1;
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zent-notify-content-move-out {
  0% {
    transform: translateY(0%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-100%);
  }
}
